.App {
  background-color: black;
  color: white;
  min-height: 100vh;
  box-sizing: border-box;
}

.header {
  display: flex;
  padding: 0 16%;
  width: 100%;
  position: fixed;
  z-index: 1;
  background-color: black;
  align-items: center;
}

.logo-brand {
  width: 500px;
  padding-right: 10px;
}

.input-group {
  height: 50px;
}

.main {
  padding-top: 150px;
  padding-bottom: 30px;
}

.list-header {
  text-align: center;
  margin-bottom: 15px;
  padding: 10px;

  /* background-color: #ffc107;
  color: black; */

  color: #ffc107;
  border: 2px solid #ffc107;
  border-radius: 10px;
}

.movies-list {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-around;
  margin-bottom: 20px;
}

.fav-list {
  justify-content: start;
}

.single-movie {
  width: 280px;
  box-shadow: 5px 5px 5px 5px gray;
  padding: 20px;
  position: relative;
  margin: 15px auto;
  border-radius: 10px;
}

.fav-movie {
  width: 200px;
  padding-top: 5px;
  margin: 10px;
}

.single-movie img {
  width: 100%;
}

.delete-btn,
.fav-btn {
  position: absolute;
  bottom: 5px;
  right: 5px;
}

.red {
  color: red;
  font-size: 30px;
}
